form{
  position: relative;
}

input{
   outline: none !important;
}
 .fNameInput {
  border:  none  !important;
  border-bottom: 1px solid #FF7F7F !important;
  background: transparent !important;
  width: 100%;
  height: 100%;
  padding-top: 30px !important;
  outline: none !important;
}

.fNameInput:focus + .fNameLabel, 
.fNameInput:valid + .fNameLabel {
  transform: translateY(-8%) !important;
  transition: transform 0.5s ease;
  font-size: 18px;
  color: #FF7F7F;
}
.fNameInput:focus + .fNameLabel::after,
.fNameInput:valid + .fNameLabel::after,
 {
  transform: translateX(0%);
}

.fNameLabel::after{
  content:  " ";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100% ;
  width: 100% ;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.fNameLabel{
  position: absolute;
  bottom: 0%;
  left: 0px;
  color: #FF7F7F;
  width: 100%;
  height: 92%;
  pointer-events: none;
}

/*lastName*/

form{
  position: relative;
}

input{
   outline: none !important;
}
 .lNameInput {
  border:  none  !important;
  border-bottom: 1px solid #FF7F7F !important;
  background: transparent !important;
  width: 100%;
  height: 100%;
  padding-top: 30px !important;
  outline: none !important;
}

.lNameInput:focus + .lNameLabel, 
.lNameInput:valid + .lNameLabel {
  transform: translateY(-11%) !important;
  transition: transform 0.5s ease;
  font-size: 18px;
  color: #FF7F7F;
}
.lNameInput:focus + .lNameLabel::after,
.lNameInput:valid + .lNameLabel::after,
 {
  transform: translateX(0%);
}

.lNameLabel::after{
  content:  " ";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100% ;
  width: 100% ;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.lNameLabel{
  position: absolute;
  bottom: 0%;
  left: 0px;
  color: #FF7F7F;
  width: 100%;
  height: 77%;
  pointer-events: none;
}

/*Email*/

form{
  position: relative;
}

input{
   outline: none !important;
}
 .regEmailInput {
  border:  none  !important;
  border-bottom: 1px solid #FF7F7F !important;
  background: transparent !important;
  width: 100%;
  height: 100%;
  padding-top: 30px !important;
  outline: none !important;
}

.regEmailInput:focus + .regEmailLabel, 
.regEmailInput:valid + .regEmailLabel {
  transform: translateY(-13%) !important;
  transition: transform 0.5s ease;
  font-size: 18px;
  color: #FF7F7F;
}
.regEmailInput:focus + .regEmailLabel::after,
.regEmailInput:valid + .regEmailLabel::after,
 {
  transform: translateX(0%);
}

.regEmailLabel::after{
  content:  " ";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100% ;
  width: 100% ;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.regEmailLabel{
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #FF7F7F;
  width: 100%;
  height: 61.2%;
  pointer-events: none;
}

/*Mobile Number*/

input{
   outline: none !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
 .mobileInput {
  border:  none  !important;
  border-bottom: 1px solid #FF7F7F !important;
  background: transparent !important;
  width: 100%;
  height: 100%;
  padding-top: 30px !important;
  outline: none !important;

}

.mobileInput:focus + .mobileLabel, 
.mobileInput:valid + .mobileLabel {
  transform: translateY(-17%) !important;
  transition: transform 0.5s ease;
  font-size: 18px;
  color: #FF7F7F;
}
.mobileInput:focus + .mobileLabel::after,
.mobileInput:valid + .mobileLabel::after,
 {
  transform: translateX(0%);
}

.mobileLabel::after{
  content:  " ";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100% ;
  width: 100% ;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.mobileLabel{
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #FF7F7F;
  width: 100%;
  height: 46%;
  pointer-events: none;
}

/*password*/
input{
   outline: none !important;
}


 .regPasswordInput {
  border:  none  !important;
  border-bottom: 1px solid #FF7F7F !important;
  background: transparent !important;
  width: 100%;
  height: 100%;
  padding-top: 30px !important;
  outline: none !important;

}

.regPasswordInput:focus + .regPasswordLabel, 
.regPasswordInput:valid + .regPasswordLabel {
  transform: translateY(-25%) !important;
  transition: transform 0.5s ease;
  font-size: 18px;
  color: #FF7F7F;
}
.regPasswordInput:focus + .regPasswordLabel::after,
.regPasswordInput:valid + .regPasswordLabel::after,
 {
  transform: translateX(0%);
}

.regPasswordLabel::after{
  content:  " ";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100% ;
  width: 100% ;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.regPasswordLabel{
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #FF7F7F;
  width: 100%;
  height: 30.5%;
  pointer-events: none;
}

/*confirm pass*/
input{
   outline: none !important;
}


 .confirmPasswordInput {
  border:  none  !important;
  border-bottom: 1px solid #FF7F7F !important;
  background: transparent !important;
  width: 100%;
  height: 100%;
  padding-top: 30px !important;
  outline: none !important;

}

.confirmPasswordInput:focus + .confirmPasswordLabel, 
.confirmPasswordInput:valid + .confirmPasswordLabel {
  transform: translateY(-50%) !important;
  transition: transform 0.5s ease;
  font-size: 18px;
  color: #FF7F7F;
}
.confirmPasswordInput:focus + .confirmPasswordLabel::after,
.confirmPasswordInput:valid + .confirmPasswordLabel::after,
 {
  transform: translateX(0%);
}

.confirmPasswordLabel::after{
  content:  " ";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100% ;
  width: 100% ;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.confirmPasswordLabel{
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #FF7F7F;
  width: 100%;
  height: 15%;
  pointer-events: none;
}